*{
	font-family: Arial;
}

body {
	margin: 0px;
	padding: 0px;
}

/******	HEADER *******/

header {
	height: 50px;
	background-color: #353535;
}
header .center {
	width: 1000px;
	margin: auto;
	color: #FFF;
}

.logo {
	float: left;
	font-size: 24px;
	line-height: 50px;
}
.menu {
	float: right;
}
nav ul,
nav li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
nav li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	font-size: 14px;
	cursor: pointer;
}

nav a {
	text-decoration: none;
	color: #FFF;
}

nav li:hover {
	background-color: #3480C1;		
}

/****** Banner *******/

#banner{
	height:300px;
	background-color:#347aba;
} 
section .center {
	width: 1000px;
	margin: auto;
}
.banner_esquerda {
	float: left;
}
.banner_direita {
	float: right;
}
.banner_direita img{
	margin-right: 55px;
}
.frase1 {
	font-size: 48px;
	color: #FFFFFF;
	margin-top: 60px;
}
.frase2{
	font-size: 20px;
	color: #FFFFFF;
}

.botao a {
	text-decoration: none;
	color: #000;
}
 .botao {
	background-color: #FFC001;	
	width: 282px;
	height:56px;
	font-size: 20px;
	text-align: center;
	line-height: 56px;
	margin-top: 20px;
	cursor:pointer;
	border-radius: 5px;
} 
